#urgent {
  color: #ff6347;
}
#good {
  color: #d8bfd8;
}
#surplus {
  color: #b0e0e6;
}

#urgent,
#good,
#surplus {
  margin-right: 10px;
  margin-left: 15px;
  font-size: 60px;
}

.text-shadow {
  text-shadow: #000 1px 0 10px;
}

.legend {
  background: #f1f1f1;
  border-radius: 10px;
}
