#urgent {
    color: #FF6347;
}
#good {
    color: #D8BFD8;
}
#surplus {
    color: #B0E0E6;
}

#urgent, #good, #surplus {
margin-right: 10px;
margin-left: 15px;
font-size: 60px;
}

.text-shadow {
    text-shadow: #000 1px 0 10px;
}

.legend {
    background: #F1F1F1;
    border-radius: 10px;
}