.navbar,
.nav-link,
.navbar-brand {
  font-size: 24px;
  color: rgb(9, 100, 71);
}

.navbar {
  background: rgb(0, 255, 174);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(0, 255, 174) 100%
  );
}

.nav-link:hover,
.navbar-brand:hover {
  color: #000;
}
